.radio {
    display: flex;
    align-items: center;
    gap: 10px;
  
    cursor: pointer;
    font-size: 14px;
  }
  
  .radio input {
    width: 18px;
    height: 18px;
  
    accent-color: #617af4;
  }