
.sidebar {
  width: 280px;
  min-width: 280px;

  height: 100%;

  padding: 24px 20px;

  background: #ffffff;

  border-right: 1px solid #eaecf0;

  overflow-y: auto;
}

.header {
  margin-bottom: 24px;
}

.header h4 {
  font-size: 16px;
  font-weight: 500;

  color: #667085;

  margin-bottom: 16px;
}

.header span {
  display: block;

  font-size: 14px;
  font-weight: 400;

  color: #667085;
}

.questionList {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.questionItem {
  width: 100%;

  height: 40px;

  border-radius: 8px;

  border: 1px solid #12b76a;

  background: #ffffff;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 14px;

  transition: all 0.2s ease;
}

.questionItem:hover {
  background: #f0fdf4;
}

.active {
  background: #f0fdf4;
  border-color: #12b76a;
}

.leftContent {
  display: flex;
  align-items: center;

  gap: 10px;

  font-size: 13px;
  font-weight: 500;

  color: #344054;
}

.completed {
  width: 16px;
  height: 16px;

  border-radius: 50%;

  background: #12b76a;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 700;
}

.pending {
  width: 16px;
  height: 16px;

  border-radius: 50%;

  border: 1.5px solid #98a2b3;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 8px;

  color: #98a2b3;
}

.arrow {
  color: #12b76a;

  font-size: 18px;
  font-weight: 500;
}

.title {
  color: #344054;
  font-size: 13px;
  font-weight: 500;
}